<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="mainVisual">
  <div class="jumbotron">
    <div class="container">
      <blockquote>
        <p><%=@message.message%></p>
        <footer>
          <cite title="Source Title"><%=@message.by%></cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
<div class="container">
  <% @news.each do |x| %>
      <% if Date.today - x.date < 30 %>
        <pre> <kbd>new</kbd> <%= x.date.strftime("%Y.%m.%d") %> <%=  x.text %></pre>
      <%else%>
        <pre> <%= x.date.strftime("%Y.%m.%d") %> <%=  x.text %></pre>
      <% end %>
  <% end %>
</div>
