<div class="SubmainVisual">
  <div class="Subjumbotron">
  <!-- /jumbotron--></div>
<!-- /mainVisual--></div>
<div class="container">
  <h1>C&amp;C&nbsp;メンバー<%= notice %></h1>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4 col-md-offset-4">
    <p>&nbsp;
    </p>
    </div>
<!-- /container--></div>
<div class="container">
  <p><strong>Name:</strong><%= @user.name %>
  </p>
  <p><strong>Twitter:</strong><%= link_to @user.twitter_id, "https://twitter.com/#{@user.twitter_id}", :target=>["_blank"] %>
  </p>
  <p><strong>Message:</strong><%= @user.message %>
  </p>
  <p>
    <%= link_to 'メンバーページへもどる', users_path, class: "btn btn-default btn-sm" %>
  </p>
<!-- /container--></div>
