<div class="container">
<h1>過去のイベント</h1>

<table>
 <tr>
   <th>Title</th>
   <th>Contents</th>
 </tr>

<!--  <% @events.each do |event| %>
   <tr>
     <td><%= event.title %></td>
     <td><%= event.contents %>　さん</td>
     <td><%= link_to 'Show', event_path(event) %></td>
   </tr>
 <% end %>
</table>
 -->
<div class="row">
 <% @events.each do |event| %>
<div class="col-xs-3 col-lg-4">
  <h4><%= event.title %></h4>
  <p><img src="http://saradnentika.net/img/defe_title32.jpg"></p>
  <p><%= event.contents %></p>
  <p class="btn btn-default" href="#" role="button">&raquo;<%= link_to 'Show', event_path(event) %></p>
</div><!--/.col-xs-4.col-lg-4-->

<% end %>
<!-- /row --></div>
<hr>
<footer>
<p>&copy; 2015 footer, Inc.</p>
</footer>
<!-- container --></div>
