<div class="SubmainVisual">
  <div class="Subjumbotron">
  <!-- /jumbotron--></div>
<!-- /mainVisual--></div>
<div class="container">
  <h1>イベント登録</h1>
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4 col-md-offset-4">
      <p>
      <%= link_to 'イベント一覧へもどる', {:controller => :events, :action => :index}, :class => 'btn btn-default btn-sm' %>
      </p>
    </div>
<!-- /container--></div>

<div class="container">
<%= form_for :event, url: events_path do |f| %>
  <p>
    <%= f.label :タイトル %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :内容 %><br>
    <%= f.text_area :contents %>
  </p>
  <p>
    <%= f.label :画像URL %><br>
    <%= f.text_area :image_url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<!-- container --></div>
